@import "./variables.scss";
button {
  padding: 8px;
  border: 2px solid $gray2;
  border-radius: 4px;
  color: $gray2;
  background: none;
  width: 100%;

  &.light {     
    opacity: 1;
    color: $gray3!important;
    background-color: $white;
  }
}
